/*
 * (c) Atul
!*/

/* Google font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}

/* Global css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #877EFF
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 10px;
  white-space: pre-line
}

button {
  font-size: normal;
  padding: 10px 20px;
  color: var(--prmc);
  background-color: var(--lightc);
  border: 1px solid #AD8FFF;
  border-radius: 17px;
}

:root {
  --prmc: #fff;
  --secndc: #222;
  --grc: #515661;
  --lightc: #CFFFEA;

  --mainfont: 'Poppins';
}

/*

body {
  background-color: var(--prmc);
  color: var(--secndc);
}*/

/* Container */
.container {
  font-family: var(--mainfont), sans-serif;
  font-size: 1rem;
  width: 100%;
}

/* Nav */
nav {
  /*color: var(--secndc);
  background-color: var(--prmc);
  box-shadow: 0 3px 5px rgb(0,0,0,.15);
 */
  width: 100%;
  height: 150%;
  display: flex;
}

.logo-text {
  padding: auto 0;
  text-align: left;
  font-size: 1rem
}

.logo-img {
  text-align: left;
  width: 20%;
  padding: 30px 0 20px 50px
}
.nav-link{
  padding: 25px 20px 0 0;
}

/* main section */
section {
  padding: 10px 0 10px 0;
  /*background-color: var(--prmc);
  color: var(--secndc);*/
}

.tool-title {
  text-align: center;
  padding: 50px 0 0 0;
}

.section-con {
  padding: 50px 0 70px 0;
}

.main-tool {
  text-align: center;
  padding: 0 20px;
}

.main-iframe {
  width: 70%;
  box-shadow: 0 3px 20px 0 rgb(0, 0, 0, .25), 0 5px 30px 0 rgb(0, 0, 0, .025);
  border-radius: 7px
}

/* steps */
.steps {
  padding: 30px 10px;
  text-align: center;
}

.steps h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 30px 0
}

.steps p {
  padding: 0 30px;
  text-align: center;
  font-size: 1.3rem
}

/* separator */
.separate {
  display: block;
  padding: 4.5em 0 0 0;
}

.separate:before {
  content: '\2027 \2027 \2027';
  display: block;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.7em;
  text-indent: 0.6em;
  padding: 0 0 20px;
  clear: both
}

/* About area */
.about-area {
  text-align: center;
  padding: 50px 0;
  font-size: 1.5rem;
}

/* Footer */
footer {
  /*color: var(--secndc);
  background-color: var(--prmc);*/
  box-shadow: 0 -3px 5px rgb(0, 0, 0, .15);
  /*  bottom: 0px;
  position: fixed;
  z-index: 1; */
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  border-radius: 20px 20px 0 0;
}

.navbar li {
  display: block;
  padding: 5px 10px;
}

.copyright-area {
  font-size: .9rem;
  text-align: center;
}

/* hidden */
.hidden{
  display: none;
}

@media screen and (max-width: 600px) {
  .logo-img {
    width: 35%;
    padding: 20px 0 0 22px;
  }

  .main-iframe {
    width: 100%;
  }

  .tool-title {
    font-size: 1.2rem
  }

  .steps h2 {
    font-size: 1.3rem
  }

  .steps p {
    font-size: 1.2rem;
    text-align: center;
  }

  .about-area {
    font-size: 1rem
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secndc);
    color: var(--prmc);
  }
  footer{
    background-color: #2f2f2f;
    color: var(--prmc)
  }
}
